/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* General Styles */
body {
  /* background-color: #f5f9ff; */
  color: #333;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1,
h2,
h3 {
  color: #0d6efd;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: white;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
  max-height: 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #0d6efd;
}

/* Hamburger Button */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  position: relative;
}

.hamburger span {
  font-size: 2rem;
}

.hamburger .close-icon {
  display: none;
}

.hamburger:focus {
  outline: none;
}




/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  padding: 40px 80px;
  text-align: left;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-content {
  width: 445px;
}

.hero-content h1 {
  font-size: 48px;
  color: black;
}

.hero-content p {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  color: #666;
}

.hero .btn {
  background-color: #0d6efd;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.hero-image img {
  width: 593px;
}

/* Services Section */
.services {
  /* text-align: center; */
  padding: 4rem 0;
  background: url(/assets//service-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: black;
}

.services > hr {
  height: 2px;
  width: 56px;
  margin: auto;
  background-color: black;
  margin-bottom: 1.5rem;
}
.services p {
  color: #666;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.service-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 300px;
  /* text-align: center; */
}

.service-card img {
  width: 50px;
  margin-bottom: 1rem;
}

.service-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.service-card p {
  color: #666;
}

.learn-btn{
 display: flex;
 justify-content: center;
 margin-top: 60px;
}

.learn-btn>.btn{
  background-color: transparent;
  color: #458ff6;
  padding: 0.75rem 3rem;
  border: 2px solid #458ff6;
  border-radius: 55px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
}

/* Healthcare Providers Section */
.healthcare-providers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
  text-align: left;
  flex-wrap: wrap;
}

.providers-content {
  width: 386px;
}

.providers-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black;
}

.providers-content > hr {
  height: 2px;
  width: 56px;
  background-color: black;
  margin-bottom: 1.5rem;
}

.providers-content p {
  color: #666;
  margin-bottom: 1.5rem;
}

.providers-image img {
  width: 550px;
}

.providers-content .btn {
  background-color: transparent;
  color: #458ff6;
  padding: 0.75rem 3rem;
  border: 2px solid #458ff6;
  border-radius: 55px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

/* Download Our Apps Section */
.download-app {
  padding: 40px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.download-content {
  width: 320px;
}
.download-content > hr {
  height: 2px;
  width: 56px;
  background-color: black;
  margin-bottom: 1.5rem;
}

.download-app h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black;
}

.download-app p {
  color: #666;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.download-app .btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #458ff6;
  padding: 0.75rem 3rem;
  border: 2px solid #458ff6;
  border-radius: 55px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.app-image {
  margin-top: 2rem;
}

.app-image img {
  max-width: 100%;
}

/* Testimonials Section */
.testimonials {
  padding: 20px 80px;
  margin-top: 60px;
  position: relative;
}

.test-bg {
  position: absolute;
  width: 970px;
  top: 20px;
  left: 150px;
}

.testimonials > .testimonial-content {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  width: 900px;
  margin: auto;
  border-radius: 24px;
  padding: 40px 40px;
}

.testimonial-content > hr {
  height: 2px;
  width: 56px;
  background-color: white;
  margin: auto;
  margin-bottom: 1.5rem;
}

.testimonials h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

.testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.testifyer {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.testifyer > h5 {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.testifyer > h5 > span {
  font-size: 18px;
  color: white;
  font-weight: normal;
}
.testimonial > img {
  width: 133;
  height: 133;
  border-radius: 65px;
}

.testimonial p {
  font-size: 1rem;
  color: white;
  margin-bottom: 1rem;
  width: 320px;
}

.testimonial-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: #458ff6;
}

.testimonial-controls span:hover {
  cursor: pointer;
  color: #0d6efd;
}

/* Latest Articles Section */
.latest-articles {
  text-align: center;
  padding: 4rem 80px;
  background: url(/assets//article-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-left: 20px;
}

.latest-articles h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black;
}

.latest-articles>hr{
  height: 2px;
  width: 56px;
  background-color: white;
  margin: auto;
  margin-bottom: 1.5rem;
}

.articles-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 40px;
}

.article-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
}

.article-details {
  padding: 1.5rem;
}

.article-card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* margin-bottom: 1rem; */
}

.article-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: black;
}

.article-card p {
  color: #666;
  margin: 1rem 0;
}

.article-card a {
  color: #0d6efd;
  text-decoration: none;
  font-weight: bold;
}

.article-card a:hover {
  text-decoration: underline;
}

.latest-articles > .btn {
  background-color: transparent;
  color: #458ff6;
  padding: 0.75rem 3rem;
  border: 2px solid #458ff6;
  border-radius: 55px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-top: 60px;
}

/* Footer */
.footer {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  color: #fff;
  padding: 3rem 80px;
  position: relative;
  height: 330px;
}

.footer-bg{
  position: absolute;
  width: 1150px;
  left: 10px;
  top: -60px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  width: 391px;
}

.footer-left h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-left > p {
  margin-top: 20px;
}
.copyright {
  margin-top: 30px;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-column h4 {
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style: none;
  margin-top: 30px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 1rem 0;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}





/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

/* HEADER */
/* Responsive Styles */
/* @media (min-width: 768px) and (max-width: 992px) {
  .hero-image img{
    width: 300px !important;
    margin-top: 20px;
  }
} */

/* HEADER ENDS HERE */

@media screen and  (min-width:320px) and (Max-width:1024px) {
  /* HEADER */
  .header{
    padding: 10px 20px;
    margin-bottom: 40px;
  }
  .navbar {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar.active {
    display: flex;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .hamburger-icon {
    display: none;
  }

  .hamburger.active .close-icon {
    display: inline;
  }
  /* HEADER END */
  .hero{
    padding: 10px 20px;
  }
.hero-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content h1{
  font-size: 22px;
  text-align: center;
}
.hero-content p{
  font-size: 1rem;
  margin-top: 0.5rem;
}

.hero-image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img{
  width: 80%;
  margin-top: 40px;
}

.services{
  padding: 0px 20px;
  margin-top: 30px;
}

.service-card{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.service-card>h3,p{
  text-align: center;
}

.healthcare-providers{
  padding: 10px 20px;
}
.providers-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.providers-image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.providers-image img{
  width: 80%;
  margin-top: 40px;
}

.providers-content h2{
  font-size: 24px;
  margin-top: 20px;
}

.download-app{
  padding: 10px 20px;
  margin-top: 30px;
  
}

.download-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download-app h2{
  font-size: 24px;
}

.app-image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-image img{
  width: 80%;
  margin-top: 40px;
}
.testimonials{
  padding: 10px 20px;
}

.test-bg{
  display: none;
}

.testimonials>.testimonial-content{
  width: 100%;
  padding: 14px 10px;
}

.testimonial{
  padding: 0px 10px;
}

.testifyer{
  gap: 5px;
  justify-content: center;
}

.testimonial>p{
  margin-top: 14px;
}

.testimonials h2{
  font-size: 24px;
}

.latest-articles{
  padding: 10px 0px;
}

.article-details{
  padding: 10px;
}

.footer{
  margin-top: 40px;
  height: 100%;
  padding: 10px 20px;
}

.footer-bg{
  display: none;
}

}


@media screen and (min-width: 1025px) and (max-width: 1198px) {

  .hero-image  img{
    width: 400px;
    margin-top: 40px;
  }

  .providers-image img{
    width: 400px;
    /* margin-top: 40px; */
  }

  .app-image img{
    width: 400px;
    /* margin-top: 40px; */
  }
  .test-bg{
    display: none;
  }
  .footer-bg{
    display: none;
  }
}